<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Administrator.SheduleAdeerActivity"></activity>
        <activity android:name=".Activities.Tutor.TutorScheduleActiity" />
        <activity android:name=".Activities.Administrator.SheduleUpdateActivity" />
        <activity android:name=".Activities.Parent.BookActivity" />
        <activity android:name=".Activities.Tutor.UpdateChildInfoActivity" />
        <activity android:name=".Activities.Tutor.TutorAppointmentActivity" />
        <activity android:name=".Activities.Parent.NewChildActivity" />
        <activity android:name=".Activities.Parent.PtmActivity" />
        <activity android:name=".Activities.General.CoursesActivity" />
        <activity android:name=".Activities.Administrator.AddChildActivity" />
        <activity android:name=".Activities.Tutor.TutorActivity" />
        <activity android:name=".Activities.Administrator.AdminstratorPTAActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAf4f6skCx_sv5mtWFfgkiiXmsoKoIflMU" />

        <activity android:name=".Activities.General.MapActivity" />
        <activity android:name=".Activities.Administrator.AdministratorActivity" />
        <activity android:name=".Activities.Parent.ParentActivity" />
        <activity android:name=".Activities.General.RegisterActivity" />
        <activity android:name=".Activities.General.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>