<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.CoursesActivity"></activity>

        <activity android:name=".Activities.AddChildActivity"></activity>
        <activity android:name=".Activities.TutorActivity" />

        <activity android:name=".Activities.AdminstratorPTAActivity" />



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAf4f6skCx_sv5mtWFfgkiiXmsoKoIflMU" />

        <activity android:name=".Activities.MapActivity" />
        <activity android:name=".Activities.AdministratorActivity" />
        <activity android:name=".Activities.ParentActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>